*{
    box-sizing: border-box;
    font-size: 16px;
}

.page_heading{
    font-weight: bold;
    text-align: center;
    font-size: 1.75em;
}

.section{
    background-color: gray;
    padding: 0px;
    border: 1px solid black;
}

.section > h2{
    border: 1px solid black;
    float: right;
    margin: 0px;
    width: 40%;
    padding: 0.25%;
    font-size: 1.25em;
    text-align:center;
    overflow: auto;
}

.s1 > h2{
    background-color: pink;
}

.s2 > h2{
    background-color: red; 
    color: white
}

.s3 > h2{
    background-color: beige;
}

.section > p{
    clear: right;
    width: 100%;
    padding: 1%;
    margin: 0%;
}

@media (min-width: 992px) {
    .col-lg-4{
        float: left;
    }

    .col-lg-4{
        width: 31.33%;
        margin: 1%;
    }
}

@media (min-width: 768) and (max-width: 991px){
    .col-md-6, .col-md-12{
        float: left;
    }

    .col-md-6{
        width: 46%;
        margin: 2%;
    }

    .col-md-12{
        width: 96%;
        margin: 2%;
    }
}

@media (max_width: 767px) {
    .col-md-12{
        float: left;
    }

    .col-md-12{
        float: left;
        width: 96%;
        margin: 2%;
    }
}


